[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
yapf = "*"

[packages]
text-validator = "*"
greek-normalisation = "*"
requests = "*"
greek-accentuation = "*"
pyyaml = "*"
pyuca = "*"
cltk = "*"

[requires]
python_version = "3.8"

[scripts]
pipeline = "pypyr pipeline"